.App{
    border: 1px solid greenyellow;
    
    text-align: center;
    margin: auto;
    display: flex;
    
    flex-direction: column;
    

}
.rooms{
    display: flex;
    
    flex-direction: row;
    
    justify-content: space-evenly;
    
}
.roomDiv{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.machineDiv{
    border: 1px solid greenyellow;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 150px;
    flex-direction: column;

}

.btn{
    border-radius: 30px;
    width: 100px;
    height: 100px;
    background-color: rgb(127, 202, 255);
    font-size: 50px;
}
input{
    text-align: center;
    border: 1px solid greenyellow;
    font:bold;
    font-size: 25px;


    
    
    
}
.machineSelect{
    width: 50%;
    text-align: center;
    border: 1px solid greenyellow;
    font:bold;
    font-size: 25px;
}
select{
    width: 313px;
    text-align: center;
    border: 1px solid greenyellow;
    font:bold;
    font-size: 25px;
    
}

.h1{
    width: 35%;
    
}
.machines{
display: flex;
flex-direction: column;
    align-items: center;
}